.ant-menu-item-only-child:nth-child(3) {
  position: absolute;
  right: 20px;
  top: 8px !important;
}

.ant-layout-header {
  height: 50px !important;
  line-height: 50px !important;
}

.handle {
  margin-bottom: 20px;
  margin-left: 20px;
}
